<!DOCTYPE html>
<html lang=all>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="ITC Task Manager">
  <meta name="keywords" content="ITC Task Manager">
  <meta name="author" content="Milad">
  <link rel="icon" href="/images/logo" type="image/png" sizes="16x16">
  <title>Chat App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="container">
    <h1 class="text-center display-4">Anonymous Chat App</h1>
    {{{body}}}
  </div>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>