#message-container {
    padding: 2% 1%;
    overflow-y: scroll;
    height: 70vh;
    scroll-behavior: smooth;
    border: 1px solid #123456;
    scrollbar-width: thin;
    box-shadow: 2px 2px 5px 5px #123456;
    margin-bottom: 5px;
}